<li class="user-footer">
{#    {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#        <div class="pull-left">#}
{#            #}{# {{ path('admin_app_user_edit', { id: app.user.id }) }} #}
{#            <a href="#" class="btn btn-default btn-flat">#}
{#                <i class="fa fa-user"></i>#}
{#                Profile#}
{#            </a>#}
{#        </div>#}
{#    {% endif %}#}
    <div class="pull-right">
        <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat">
            <i class="fa fa-sign-out fa-fw"></i>
            Logout
        </a>
    </div>
</li>
